
body{
    padding: 0;
    margin: 0;
    font-family: 'Lumanosimo', cursive;
    background-image: url(img/4347464.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
html{
    scroll-behavior: smooth;
  }

.navbar-brand{
        padding: 10px 50px;
    
}


.css-nav{
    background-color: rgba(34, 43, 87, 0.534);
}
#hero{
    margin-top: 20px;
}
.carousel-inner{
   
   margin: 0 auto;
   border: double 15px ;
   border-radius: 10px;
}
.carousel-caption{
    background-color: rgba(0, 0, 0, 0.315);
}
.nav-link{
    font-size: 18px;
}
.nav-link::after{
    content: '';
    height: 2px;
    width: 100%;
    background: rgb(0, 0, 0);
    display: block;
    opacity: 0;
    transition: 0.5s;
}
.nav-link:hover:after{
    opacity: 1;
}
.tsh1{
    width: 100%;
    text-align: center;
    margin-top: 125px;
    margin-bottom: 75px;
    
}

.bgcolor{
    background-color: rgba(212, 213, 214, 0.37);
}
.zoom{
    transition: .2s;
}
.zoom:hover{
    transform: scale(1.5);
}
.fa-brands{
    transition: .3s;
}
.fa-brands:hover{
    transform: scale(1.3);
}
.edits{
    transition: 0.5s;
}
.edits:hover{
    transform: scale(0.7);
}
#donate{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.about-css{
    background-color: rgba(207, 198, 198, 0.596);
}
.navbar-brand span{
    font-size: 30px;
    color: aqua;
}
.css-footer{
    background-color: rgba(189, 185, 185, 0.877);
    padding-bottom: 10px;
    padding-top: 15px;
}
.container{
    width: 85%;
    background: #ffffffa1;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    
  }
  .container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container .content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
  }
  .content .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .content .left-side .details i{
    font-size: 30px;
    color: black;
    margin-bottom: 10px;
  }
  .content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
  }
  .content .left-side .details .text-one,
  .content .left-side .details .text-two{
    font-size: 14px;
    color: #afafb6;
  }
  .container .content .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: black;
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #63688fb6;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .right-side .message-box{
    min-height: 110px;
  }
  .right-side .input-box textarea{
    padding-top: 6px;
  }
  .right-side .button{
    display: inline-block;
    margin-top: 12px;
  }
  /* .cont-t{
    padding-top: 108px !important;
} */
  
  .right-side .button input[type="button"]{
    color: white;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #352093;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button input[type="button"]:hover{
    background: #5029bc;
  }
